body {
    background: #d2d6de;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif, Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.conteudo,
.register-box {
    width: 360px;
    margin: 7% auto;
}

.conteudo-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}